{% extends "BCPlatformBundle::layout.html.twig" %}

{% block title %}
    Acceuil {{ parent() }}
{% endblock %}

{% block bcplatform_body %}

    <h2>List of ads</h2>

    <ul>
        {% for advert in listAdverts %}
            <li>
                <a href="{{ path('bc_platform_view', {'id': advert.id}) }}">
                    {{ advert.title }}
                </a>
                by {{ advert.author }},
                the {{ advert.date|date('d/m/Y') }}
            </li>
        {% else %}
            <li>No ads (yet)</li>
        {% endfor %}
    </ul>

{% endblock %}

