{% extends "BCPlatformBundle::layout.html.twig" %}

{% block title %}
    Lecture d'une ad - {{ parent() }}
{% endblock %}

{% block bcplatform_body %}
        {#On vérifie qu'une image soit bien associée à une annonce#}
    {% if advert.image is not null %}
        <img src="{{ asset(advert.image.webPath) }}" alt="{{ advert.image.alt }}" height="60"/>
    {% endif %}

    <h2>{{ advert.title }}</h2>
    <i>By {{ advert.author }}, the {{ advert.date|date('d/m/Y') }}</i>

    <div class="well">
        {{ advert.content }}
    </div>

    {% if not advert.categories.empty %}
        <div>
            Cette annonce est parue dans les catégories suivantes :
            <ul>
            {% for category in advert.categories %}
                {{ category.name }}{% if not loop.last %}, {% endif %}
            {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% if listAdvertSkills|length > 0 %}
        <div>
            Cette annonce requiert les compétences suivantes :
            <ul>
                {% for advertSkill in listAdvertSkills %}
                    <li>{{ advertSkill.skill.name }} : niveau {{ advertSkill.level }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <p>
        <a href="{{ path('bc_platform_home') }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Back to the list
        </a>
        <a href="{{ path('bc_platform_edit', {'id': advert.id}) }}" class="btn btn-default">
            <i class="glyphicon glyphicon-edit"></i>
            Mod Ad
        </a>
        <a href="{{ path('bc_platform_delete', {'id': advert.id}) }}" class="btn btn-danger">
            <i class="glyphicon glyphicon-trash"></i>
            Supp
        </a>
    </p>

{% endblock %}
